.modal-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  &_content {
    background-color: rgb(116, 209, 238);
    width: 600px;
    height: 300px;
    border-radius: 15px;
  }

  &_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
   
  }

  &_title{
    font-size: 40px;
    line-height: 25px;

  }

  &_block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(116, 209, 238);
    padding: 20px 30px;
  }

  &_text{
    text-align: center;
    line-height: 25px;
    color: white;
    padding: 50px 0;
  }

  &_close {
    background-color: rgb(116, 209, 238);
    font-size: 40px;
    border: none;
    color: white;
    cursor: pointer;
  }

  &_actions {
    color: azure;
    text-align: center;
  }
  &_btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: rgb(0, 135, 108);
    font-size: 16px;
    cursor: pointer;
    color: white;
    margin-right: 10px;
    &:hover {
        background-color: rgb(177, 13, 13);
    }
  }
}

