*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body { 
    height: 100%;
}

.app{
    margin: 0 auto;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

