.card-list{
    display: grid;
    grid-template-columns: repeat(5 , 250px);
    row-gap: 25px;
    column-gap: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.main__wrapper { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    maxWidth: 1300px;
}