.btn {

  border: none;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  margin: 10px 20px;
  cursor: pointer;
  &:hover {
    color: #f3f3f3;
    opacity: 0.9;
    background-color: #fff;
    transition: .3s;
  }
}
