.card-list{
    display: grid;
    grid-template-columns: repeat(5 , 250px);
    row-gap: 25px;
    column-gap: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.main__wrapper { 
    display: flex;
    justify-content: center;
    padding: 30xp 0 ;
}