.card-item{
    background-color: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 0.5em 1em -0.125em hsla(0,0%,4%,.1), 0 0 0 1px hsla(0,0%,4%,.02);
    color: #4a4a4a;
    max-width: 100%;
    &_title{
        font-size: 18px;
        font-weight: bold;
        line-height: 20px;
    }

    &_box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 20px;
    }

    &_star{
        font-size: 25px;
        cursor: pointer;
    }
}

.card-item-content{
    padding-left: 20px;
}