.footer_wrapper {
    height: 120px;
    background-color: rgba(189, 189, 189, 0.596);
    display: flex;
    justify-content: center;
    align-items: end;
    p { 
        font-size: 20px;
        padding-bottom: 5px;
    }
}