.header{
      max-width: 1200px;
      gap: 600px;
    display: flex;
    align-items: center;
    justify-content:space-between ;
    
   
    &__title{
      font-family: 'Alata', sans-serif;
        font-size: 50px;
        line-height: 40px;
        color: rgb(0, 0, 0);
        font-weight: 700;
        filter: 
        drop-shadow(3px 3px 10px #9c2d9c);
    }
    &__title:hover{
      color: rgb(219, 219, 219);
      transition: .35s;
    }
     &_btn{
        margin-left: 10px;
        font-size: 20px;
        background: rgba(189, 189, 189, 0.596);
        border: 1px solid rgba(189, 189, 189, 0.596);
        border-radius: 10px;
        padding: 12px 21px;
        color: white;
        cursor: pointer;
     }
     &_btn:hover{
        background: rgba(194, 36, 36, 0.596);
        border: 1px solid rgba(194, 36, 36);
        transition: 0.3s;
     }
     span { 
        padding-left: 23px;
     }
}

.header_wrapper { 
   padding: 50px 20px 50px 20px;
   background-color: rgba(189, 189, 189, 0.596);
   display: flex;
   justify-content: center;
}
a{ 
      text-decoration: none;}